🗨️ 데이터 원본 출처 : [에어코리아 미세먼지 세부 측정정보](https://www.airkorea.or.kr/web/pmRelay?itemCode=10007&pMENU_NO=108)

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [122]:
pm10_12 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2018 (12).xls')
pm10_1 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (1).xls')
pm10_2 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (2).xls')
pm10_3 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (3).xls')
pm10_4 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (4).xls')
pm10_5 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (5).xls')
pm10_6 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (6).xls')
pm10_7 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (7).xls')
pm10_8 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (8).xls')
pm10_9 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (9).xls')
pm10_10 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (10).xls')
pm10_11 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (11).xls')

In [123]:
pm10_12 = pm10_12.drop(index=[0,1], axis=0)
pm10_12 = pm10_12.rename(columns=pm10_12.iloc[0])
pm10_12 = pm10_12.drop(index=[2])
pm10_12 = pm10_12.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm10_12['year'] = '2018'
pm10_12['month'] = '12'
pm10_12['variable'] = pm10_12['variable'].str.replace('일','')
pm10_12 = pm10_12.rename(columns = {'variable':'days'})
pm10_12['days'] = pm10_12['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_12['date'] = pm10_12['year'] + "-" + pm10_12['month'] + "-" + pm10_12['days']
pm10_12 = pm10_12.drop(['days', 'year', 'month'], axis=1)
pm10_12

                    측정소명 value        date
0            [경기 이천시]설성면    70  2018-12-01
1             [경기 파주시]파주   NaN  2018-12-01
2            [경기 포천시]관인면    38  2018-12-01
3             [경기 가평군]가평    38  2018-12-01
4            [경기 고양시]식사동    44  2018-12-01
...                  ...   ...         ...
2785  [경기 성남시]대왕판교로(백현동)    44  2018-12-31
2786   [경기 성남시]성남대로(모란역)    55  2018-12-31
2787   [경기 수원시]경수대로(동수원)    62  2018-12-31
2788   [경기 안산시]중앙대로(고잔동)    49  2018-12-31
2789   [경기 용인시]중부대로(구갈동)    50  2018-12-31

[2790 rows x 3 columns]

In [124]:
pm10_1 = pm10_1.drop(index=[0,1], axis=0)
pm10_1 = pm10_1.rename(columns=pm10_1.iloc[0])
pm10_1 = pm10_1.drop(index=[2])
pm10_1 = pm10_1.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm10_1['year'] = '2019'
pm10_1['month'] = '01'
pm10_1['variable'] = pm10_1['variable'].str.replace('일','')
pm10_1 = pm10_1.rename(columns = {'variable':'days'})
pm10_1['days'] = pm10_1['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_1['date'] = pm10_1['year'] + "-" + pm10_1['month'] + "-" + pm10_1['days']
pm10_1 = pm10_1.drop(['days', 'year', 'month'], axis=1)
pm10_1

                    측정소명 value        date
0            [경기 이천시]설성면    55  2019-01-01
1             [경기 파주시]파주    50  2019-01-01
2            [경기 포천시]관인면    43  2019-01-01
3             [경기 가평군]가평    32  2019-01-01
4            [경기 고양시]식사동    43  2019-01-01
...                  ...   ...         ...
2816  [경기 성남시]대왕판교로(백현동)    65  2019-01-31
2817   [경기 성남시]성남대로(모란역)    77  2019-01-31
2818   [경기 수원시]경수대로(동수원)    83  2019-01-31
2819   [경기 안산시]중앙대로(고잔동)    65  2019-01-31
2820   [경기 용인시]중부대로(구갈동)    76  2019-01-31

[2821 rows x 3 columns]

In [125]:
pm10_2 = pm10_2.drop(index=[0,1], axis=0)
pm10_2 = pm10_2.rename(columns=pm10_2.iloc[0])
pm10_2 = pm10_2.drop(index=[2])
pm10_2 = pm10_2.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일'])
pm10_2['year'] = '2019'
pm10_2['month'] = '02'
pm10_2['variable'] = pm10_2['variable'].str.replace('일','')
pm10_2 = pm10_2.rename(columns = {'variable':'days'})
pm10_2['days'] = pm10_2['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_2['date'] = pm10_2['year'] + "-" + pm10_2['month'] + "-" + pm10_2['days']
pm10_2 = pm10_2.drop(['days', 'year', 'month'], axis=1)
pm10_2

                    측정소명 value        date
0            [경기 이천시]설성면    52  2019-02-01
1             [경기 파주시]파주    45  2019-02-01
2            [경기 포천시]관인면    43  2019-02-01
3             [경기 가평군]가평    39  2019-02-01
4            [경기 고양시]식사동    35  2019-02-01
...                  ...   ...         ...
2571  [경기 성남시]대왕판교로(백현동)    85  2019-02-28
2572   [경기 성남시]성남대로(모란역)   103  2019-02-28
2573   [경기 수원시]경수대로(동수원)   119  2019-02-28
2574   [경기 안산시]중앙대로(고잔동)    92  2019-02-28
2575   [경기 용인시]중부대로(구갈동)   105  2019-02-28

[2576 rows x 3 columns]

In [126]:
pm10_3 = pm10_3.drop(index=[0,1], axis=0)
pm10_3 = pm10_3.rename(columns=pm10_3.iloc[0])
pm10_3 = pm10_3.drop(index=[2])
pm10_3 = pm10_3.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm10_3['year'] = '2019'
pm10_3['month'] = '03'
pm10_3['variable'] = pm10_3['variable'].str.replace('일','')
pm10_3 = pm10_3.rename(columns = {'variable':'days'})
pm10_3['days'] = pm10_3['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_3['date'] = pm10_3['year'] + "-" + pm10_3['month'] + "-" + pm10_3['days']
pm10_3 = pm10_3.drop(['days', 'year', 'month'], axis=1)
pm10_3

                    측정소명 value        date
0            [경기 이천시]설성면   152  2019-03-01
1             [경기 파주시]파주   123  2019-03-01
2            [경기 포천시]관인면    90  2019-03-01
3             [경기 가평군]가평    82  2019-03-01
4            [경기 고양시]식사동    89  2019-03-01
...                  ...   ...         ...
2847  [경기 성남시]대왕판교로(백현동)    44  2019-03-31
2848   [경기 성남시]성남대로(모란역)    46  2019-03-31
2849   [경기 수원시]경수대로(동수원)    54  2019-03-31
2850   [경기 안산시]중앙대로(고잔동)    40  2019-03-31
2851   [경기 용인시]중부대로(구갈동)    46  2019-03-31

[2852 rows x 3 columns]

In [127]:
pm10_4 = pm10_4.drop(index=[0,1], axis=0)
pm10_4 = pm10_4.rename(columns=pm10_4.iloc[0])
pm10_4 = pm10_4.drop(index=[2])
pm10_4 = pm10_4.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일'])
pm10_4['year'] = '2019'
pm10_4['month'] = '04'
pm10_4['variable'] = pm10_4['variable'].str.replace('일','')
pm10_4 = pm10_4.rename(columns = {'variable':'days'})
pm10_4['days'] = pm10_4['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_4['date'] = pm10_4['year'] + "-" + pm10_4['month'] + "-" + pm10_4['days']
pm10_4 = pm10_4.drop(['days', 'year', 'month'], axis=1)
pm10_4

                    측정소명 value        date
0            [경기 이천시]설성면    32  2019-04-01
1             [경기 파주시]파주    35  2019-04-01
2            [경기 포천시]관인면    25  2019-04-01
3             [경기 가평군]가평    20  2019-04-01
4            [경기 고양시]식사동    37  2019-04-01
...                  ...   ...         ...
2785  [경기 성남시]대왕판교로(백현동)    33  2019-04-30
2786   [경기 성남시]성남대로(모란역)    41  2019-04-30
2787   [경기 수원시]경수대로(동수원)    44  2019-04-30
2788   [경기 안산시]중앙대로(고잔동)    36  2019-04-30
2789   [경기 용인시]중부대로(구갈동)    42  2019-04-30

[2790 rows x 3 columns]

In [128]:
pm10_5 = pm10_5.drop(index=[0,1], axis=0)
pm10_5 = pm10_5.rename(columns=pm10_5.iloc[0])
pm10_5 = pm10_5.drop(index=[2])
pm10_5 = pm10_5.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm10_5['year'] = '2019'
pm10_5['month'] = '05'
pm10_5['variable'] = pm10_5['variable'].str.replace('일','')
pm10_5 = pm10_5.rename(columns = {'variable':'days'})
pm10_5['days'] = pm10_5['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_5['date'] = pm10_5['year'] + "-" + pm10_5['month'] + "-" + pm10_5['days']
pm10_5 = pm10_5.drop(['days', 'year', 'month'], axis=1)
pm10_5

                    측정소명 value        date
0            [경기 이천시]설성면    71  2019-05-01
1             [경기 파주시]파주    90  2019-05-01
2            [경기 포천시]관인면    71  2019-05-01
3             [경기 가평군]가평    52  2019-05-01
4            [경기 고양시]식사동    52  2019-05-01
...                  ...   ...         ...
2971  [경기 성남시]대왕판교로(백현동)    24  2019-05-31
2972   [경기 성남시]성남대로(모란역)    24  2019-05-31
2973   [경기 수원시]경수대로(동수원)    25  2019-05-31
2974   [경기 안산시]중앙대로(고잔동)    26  2019-05-31
2975   [경기 용인시]중부대로(구갈동)    24  2019-05-31

[2976 rows x 3 columns]

In [129]:
pm10_6 = pm10_6.drop(index=[0,1], axis=0)
pm10_6 = pm10_6.rename(columns=pm10_6.iloc[0])
pm10_6 = pm10_6.drop(index=[2])
pm10_6 = pm10_6.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일'])
pm10_6['year'] = '2019'
pm10_6['month'] = '06'
pm10_6['variable'] = pm10_6['variable'].str.replace('일','')
pm10_6 = pm10_6.rename(columns = {'variable':'days'})
pm10_6['days'] = pm10_6['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_6['date'] = pm10_6['year'] + "-" + pm10_6['month'] + "-" + pm10_6['days']
pm10_6 = pm10_6.drop(['days', 'year', 'month'], axis=1)
pm10_6

                   측정소명 value        date
0           [경기 이천시]설성면    40  2019-06-01
1            [경기 파주시]파주    31  2019-06-01
2           [경기 포천시]관인면    36  2019-06-01
3            [경기 가평군]가평    20  2019-06-01
4           [경기 고양시]식사동    31  2019-06-01
...                 ...   ...         ...
2905  [경기 성남시]성남대로(모란역)    39  2019-06-30
2906  [경기 수원시]경수대로(동수원)    50  2019-06-30
2907  [경기 안산시]중앙대로(고잔동)    32  2019-06-30
2908   [경기 오산시]금암로(신장동)    35  2019-06-30
2909  [경기 용인시]중부대로(구갈동)    38  2019-06-30

[2910 rows x 3 columns]

In [130]:
pm10_7 = pm10_7.drop(index=[0,1], axis=0)
pm10_7 = pm10_7.rename(columns=pm10_7.iloc[0])
pm10_7 = pm10_7.drop(index=[2])
pm10_7 = pm10_7.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm10_7['year'] = '2019'
pm10_7['month'] = '07'
pm10_7['variable'] = pm10_7['variable'].str.replace('일','')
pm10_7 = pm10_7.rename(columns = {'variable':'days'})
pm10_7['days'] = pm10_7['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_7['date'] = pm10_7['year'] + "-" + pm10_7['month'] + "-" + pm10_7['days']
pm10_7 = pm10_7.drop(['days', 'year', 'month'], axis=1)
pm10_7

                   측정소명 value        date
0           [경기 이천시]설성면    50  2019-07-01
1            [경기 파주시]파주    36  2019-07-01
2           [경기 포천시]관인면    40  2019-07-01
3            [경기 가평군]가평    37  2019-07-01
4           [경기 고양시]식사동    29  2019-07-01
...                 ...   ...         ...
3002  [경기 성남시]성남대로(모란역)    25  2019-07-31
3003  [경기 수원시]경수대로(동수원)    27  2019-07-31
3004  [경기 안산시]중앙대로(고잔동)    21  2019-07-31
3005   [경기 오산시]금암로(신장동)    23  2019-07-31
3006  [경기 용인시]중부대로(구갈동)    23  2019-07-31

[3007 rows x 3 columns]

In [131]:
pm10_8 = pm10_8.drop(index=[0,1], axis=0)
pm10_8 = pm10_8.rename(columns=pm10_8.iloc[0])
pm10_8 = pm10_8.drop(index=[2])
pm10_8 = pm10_8.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm10_8['year'] = '2019'
pm10_8['month'] = '08'
pm10_8['variable'] = pm10_8['variable'].str.replace('일','')
pm10_8 = pm10_8.rename(columns = {'variable':'days'})
pm10_8['days'] = pm10_8['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_8['date'] = pm10_8['year'] + "-" + pm10_8['month'] + "-" + pm10_8['days']
pm10_8 = pm10_8.drop(['days', 'year', 'month'], axis=1)
pm10_8

                   측정소명 value        date
0           [경기 이천시]설성면    17  2019-08-01
1            [경기 파주시]파주    14  2019-08-01
2           [경기 포천시]관인면    24  2019-08-01
3            [경기 가평군]가평     8  2019-08-01
4           [경기 고양시]식사동    20  2019-08-01
...                 ...   ...         ...
3002  [경기 성남시]성남대로(모란역)    25  2019-08-31
3003  [경기 수원시]경수대로(동수원)    24  2019-08-31
3004  [경기 안산시]중앙대로(고잔동)    18  2019-08-31
3005   [경기 오산시]금암로(신장동)    22  2019-08-31
3006  [경기 용인시]중부대로(구갈동)    23  2019-08-31

[3007 rows x 3 columns]

In [132]:
pm10_9 = pm10_9.drop(index=[0,1], axis=0)
pm10_9 = pm10_9.rename(columns=pm10_9.iloc[0])
pm10_9 = pm10_9.drop(index=[2])
pm10_9 = pm10_9.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일'])
pm10_9['year'] = '2019'
pm10_9['month'] = '09'
pm10_9['variable'] = pm10_9['variable'].str.replace('일','')
pm10_9 = pm10_9.rename(columns = {'variable':'days'})
pm10_9['days'] = pm10_9['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_9['date'] = pm10_9['year'] + "-" + pm10_9['month'] + "-" + pm10_9['days']
pm10_9 = pm10_9.drop(['days', 'year', 'month'], axis=1)
pm10_9

                   측정소명 value        date
0           [경기 이천시]설성면    34  2019-09-01
1            [경기 파주시]파주    18  2019-09-01
2           [경기 포천시]관인면    21  2019-09-01
3            [경기 가평군]가평    16  2019-09-01
4           [경기 고양시]식사동    24  2019-09-01
...                 ...   ...         ...
2905  [경기 성남시]성남대로(모란역)    66  2019-09-30
2906  [경기 수원시]경수대로(동수원)    73  2019-09-30
2907  [경기 안산시]중앙대로(고잔동)    56  2019-09-30
2908   [경기 오산시]금암로(신장동)    64  2019-09-30
2909  [경기 용인시]중부대로(구갈동)    61  2019-09-30

[2910 rows x 3 columns]

In [133]:
pm10_10 = pm10_10.drop(index=[0,1], axis=0)
pm10_10 = pm10_10.rename(columns=pm10_10.iloc[0])
pm10_10 = pm10_10.drop(index=[2])
pm10_10 = pm10_10.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm10_10['year'] = '2019'
pm10_10['month'] = '10'
pm10_10['variable'] = pm10_10['variable'].str.replace('일','')
pm10_10 = pm10_10.rename(columns = {'variable':'days'})
pm10_10['days'] = pm10_10['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_10['date'] = pm10_10['year'] + "-" + pm10_10['month'] + "-" + pm10_10['days']
pm10_10 = pm10_10.drop(['days', 'year', 'month'], axis=1)
pm10_10

                   측정소명 value        date
0           [경기 이천시]설성면    66  2019-10-01
1            [경기 파주시]파주    50  2019-10-01
2           [경기 포천시]관인면    33  2019-10-01
3            [경기 가평군]가평    25  2019-10-01
4           [경기 고양시]식사동    51  2019-10-01
...                 ...   ...         ...
3002  [경기 성남시]성남대로(모란역)    90  2019-10-31
3003  [경기 수원시]경수대로(동수원)    94  2019-10-31
3004  [경기 안산시]중앙대로(고잔동)    78  2019-10-31
3005   [경기 오산시]금암로(신장동)    61  2019-10-31
3006  [경기 용인시]중부대로(구갈동)    80  2019-10-31

[3007 rows x 3 columns]

In [134]:
pm10_11 = pm10_11.drop(index=[0,1], axis=0)
pm10_11 = pm10_11.rename(columns=pm10_11.iloc[0])
pm10_11 = pm10_11.drop(index=[2])
pm10_11 = pm10_11.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일'])
pm10_11['year'] = '2019'
pm10_11['month'] = '11'
pm10_11['variable'] = pm10_11['variable'].str.replace('일','')
pm10_11 = pm10_11.rename(columns = {'variable':'days'})
pm10_11['days'] = pm10_11['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_11['date'] = pm10_11['year'] + "-" + pm10_11['month'] + "-" + pm10_11['days']
pm10_11 = pm10_11.drop(['days', 'year', 'month'], axis=1)
pm10_11

                   측정소명 value        date
0           [경기 이천시]설성면    94  2019-11-01
1            [경기 파주시]파주    42  2019-11-01
2           [경기 포천시]관인면   113  2019-11-01
3            [경기 가평군]가평    83  2019-11-01
4           [경기 고양시]식사동    78  2019-11-01
...                 ...   ...         ...
2905  [경기 성남시]성남대로(모란역)    55  2019-11-30
2906  [경기 수원시]경수대로(동수원)    58  2019-11-30
2907  [경기 안산시]중앙대로(고잔동)    47  2019-11-30
2908   [경기 오산시]금암로(신장동)    48  2019-11-30
2909  [경기 용인시]중부대로(구갈동)    52  2019-11-30

[2910 rows x 3 columns]

In [136]:
pm10 = pd.concat([pm10_12,pm10_1,pm10_2,pm10_3,pm10_4,pm10_5,pm10_6,pm10_7,pm10_8,pm10_9,pm10_10,pm10_11], axis=0)
pm10

                   측정소명 value        date
0           [경기 이천시]설성면    70  2018-12-01
1            [경기 파주시]파주   NaN  2018-12-01
2           [경기 포천시]관인면    38  2018-12-01
3            [경기 가평군]가평    38  2018-12-01
4           [경기 고양시]식사동    44  2018-12-01
...                 ...   ...         ...
2905  [경기 성남시]성남대로(모란역)    55  2019-11-30
2906  [경기 수원시]경수대로(동수원)    58  2019-11-30
2907  [경기 안산시]중앙대로(고잔동)    47  2019-11-30
2908   [경기 오산시]금암로(신장동)    48  2019-11-30
2909  [경기 용인시]중부대로(구갈동)    52  2019-11-30

[34556 rows x 3 columns]

In [140]:
pm25_12 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2018 (12).xls')
pm25_1 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (1).xls')
pm25_2 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (2).xls')
pm25_3 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (3).xls')
pm25_4 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (4).xls')
pm25_5 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (5).xls')
pm25_6 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (6).xls')
pm25_7 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (7).xls')
pm25_8 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (8).xls')
pm25_9 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (9).xls')
pm25_10 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (10).xls')
pm25_11 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (11).xls')

In [141]:
pm25_12 = pm25_12.drop(index=[0,1], axis=0)
pm25_12 = pm25_12.rename(columns=pm25_12.iloc[0])
pm25_12 = pm25_12.drop(index=[2])
pm25_12 = pm25_12.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm25_12['year'] = '2018'
pm25_12['month'] = '12'
pm25_12['variable'] = pm25_12['variable'].str.replace('일','')
pm25_12 = pm25_12.rename(columns = {'variable':'days'})
pm25_12['days'] = pm25_12['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_12['date'] = pm25_12['year'] + "-" + pm25_12['month'] + "-" + pm25_12['days']
pm25_12 = pm25_12.drop(['days', 'year', 'month'], axis=1)
pm25_12

                   측정소명 value        date
0           [경기 이천시]설성면   NaN  2018-12-01
1            [경기 파주시]파주   NaN  2018-12-01
2           [경기 포천시]관인면   NaN  2018-12-01
3            [경기 가평군]가평    23  2018-12-01
4           [경기 고양시]식사동    21  2018-12-01
...                 ...   ...         ...
2878  [경기 안산시]중앙대로(고잔동)    37  2018-12-31
2879  [경기 용인시]중부대로(구갈동)    28  2018-12-31
2880       [경기 부천시]소사본동    30  2018-12-31
2881        [경기 양평군]강하면    29  2018-12-31
2882        [경기 포천시]관인면    21  2018-12-31

[2883 rows x 3 columns]

In [142]:
pm25_1 = pm25_1.drop(index=[0,1], axis=0)
pm25_1 = pm25_1.rename(columns=pm25_1.iloc[0])
pm25_1 = pm25_1.drop(index=[2])
pm25_1 = pm25_1.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm25_1['year'] = '2019'
pm25_1['month'] = '01'
pm25_1['variable'] = pm25_1['variable'].str.replace('일','')
pm25_1 = pm25_1.rename(columns = {'variable':'days'})
pm25_1['days'] = pm25_1['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_1['date'] = pm25_1['year'] + "-" + pm25_1['month'] + "-" + pm25_1['days']
pm25_1 = pm25_1.drop(['days', 'year', 'month'], axis=1)
pm25_1

                   측정소명 value        date
0           [경기 이천시]설성면    38  2019-01-01
1            [경기 파주시]파주    30  2019-01-01
2           [경기 포천시]관인면    24  2019-01-01
3            [경기 가평군]가평    25  2019-01-01
4           [경기 고양시]식사동    22  2019-01-01
...                 ...   ...         ...
2878  [경기 수원시]경수대로(동수원)    26  2019-01-31
2879  [경기 안산시]중앙대로(고잔동)    25  2019-01-31
2880  [경기 용인시]중부대로(구갈동)    23  2019-01-31
2881       [경기 부천시]소사본동    18  2019-01-31
2882        [경기 포천시]관인면    20  2019-01-31

[2883 rows x 3 columns]

In [143]:
pm25_2 = pm25_2.drop(index=[0,1], axis=0)
pm25_2 = pm25_2.rename(columns=pm25_2.iloc[0])
pm25_2 = pm25_2.drop(index=[2])
pm25_2 = pm25_2.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일'])
pm25_2['year'] = '2019'
pm25_2['month'] = '02'
pm25_2['variable'] = pm25_2['variable'].str.replace('일','')
pm25_2 = pm25_2.rename(columns = {'variable':'days'})
pm25_2['days'] = pm25_2['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_2['date'] = pm25_2['year'] + "-" + pm25_2['month'] + "-" + pm25_2['days']
pm25_2 = pm25_2.drop(['days', 'year', 'month'], axis=1)
pm25_2

                   측정소명 value        date
0           [경기 이천시]설성면    23  2019-02-01
1            [경기 파주시]파주    18  2019-02-01
2           [경기 포천시]관인면    16  2019-02-01
3            [경기 가평군]가평    16  2019-02-01
4           [경기 고양시]식사동    10  2019-02-01
...                 ...   ...         ...
2627  [경기 수원시]경수대로(동수원)    75  2019-02-28
2628  [경기 안산시]중앙대로(고잔동)    66  2019-02-28
2629  [경기 용인시]중부대로(구갈동)    65  2019-02-28
2630       [경기 부천시]소사본동    59  2019-02-28
2631        [경기 포천시]관인면    42  2019-02-28

[2632 rows x 3 columns]

In [144]:
pm25_3 = pm25_3.drop(index=[0,1], axis=0)
pm25_3 = pm25_3.rename(columns=pm25_3.iloc[0])
pm25_3 = pm25_3.drop(index=[2])
pm25_3 = pm25_3.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm25_3['year'] = '2019'
pm25_3['month'] = '03'
pm25_3['variable'] = pm25_3['variable'].str.replace('일','')
pm25_3 = pm25_3.rename(columns = {'variable':'days'})
pm25_3['days'] = pm25_3['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_3['date'] = pm25_3['year'] + "-" + pm25_3['month'] + "-" + pm25_3['days']
pm25_3 = pm25_3.drop(['days', 'year', 'month'], axis=1)
pm25_3

                   측정소명 value        date
0           [경기 이천시]설성면   NaN  2019-03-01
1            [경기 파주시]파주    78  2019-03-01
2           [경기 포천시]관인면    42  2019-03-01
3            [경기 가평군]가평    60  2019-03-01
4           [경기 고양시]식사동    75  2019-03-01
...                 ...   ...         ...
2909  [경기 수원시]경수대로(동수원)    24  2019-03-31
2910  [경기 안산시]중앙대로(고잔동)    22  2019-03-31
2911  [경기 용인시]중부대로(구갈동)    25  2019-03-31
2912       [경기 부천시]소사본동    26  2019-03-31
2913        [경기 포천시]관인면    24  2019-03-31

[2914 rows x 3 columns]

In [145]:
pm25_4 = pm25_4.drop(index=[0,1], axis=0)
pm25_4 = pm25_4.rename(columns=pm25_4.iloc[0])
pm25_4 = pm25_4.drop(index=[2])
pm25_4 = pm25_4.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일'])
pm25_4['year'] = '2019'
pm25_4['month'] = '04'
pm25_4['variable'] = pm25_4['variable'].str.replace('일','')
pm25_4 = pm25_4.rename(columns = {'variable':'days'})
pm25_4['days'] = pm25_4['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_4['date'] = pm25_4['year'] + "-" + pm25_4['month'] + "-" + pm25_4['days']
pm25_4 = pm25_4.drop(['days', 'year', 'month'], axis=1)
pm25_4

                   측정소명 value        date
0           [경기 이천시]설성면    19  2019-04-01
1            [경기 파주시]파주    13  2019-04-01
2           [경기 포천시]관인면    14  2019-04-01
3            [경기 가평군]가평    13  2019-04-01
4           [경기 고양시]식사동     5  2019-04-01
...                 ...   ...         ...
2845  [경기 수원시]경수대로(동수원)    23  2019-04-30
2846  [경기 안산시]중앙대로(고잔동)    20  2019-04-30
2847  [경기 용인시]중부대로(구갈동)    18  2019-04-30
2848       [경기 부천시]소사본동    33  2019-04-30
2849        [경기 포천시]관인면    18  2019-04-30

[2850 rows x 3 columns]

In [146]:
pm25_5 = pm25_5.drop(index=[0,1], axis=0)
pm25_5 = pm25_5.rename(columns=pm25_5.iloc[0])
pm25_5 = pm25_5.drop(index=[2])
pm25_5 = pm25_5.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm25_5['year'] = '2019'
pm25_5['month'] = '05'
pm25_5['variable'] = pm25_5['variable'].str.replace('일','')
pm25_5 = pm25_5.rename(columns = {'variable':'days'})
pm25_5['days'] = pm25_5['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_5['date'] = pm25_5['year'] + "-" + pm25_5['month'] + "-" + pm25_5['days']
pm25_5 = pm25_5.drop(['days', 'year', 'month'], axis=1)
pm25_5

                   측정소명 value        date
0           [경기 이천시]설성면    34  2019-05-01
1            [경기 파주시]파주    21  2019-05-01
2           [경기 포천시]관인면    22  2019-05-01
3            [경기 가평군]가평    22  2019-05-01
4           [경기 고양시]식사동    18  2019-05-01
...                 ...   ...         ...
3033  [경기 수원시]경수대로(동수원)    11  2019-05-31
3034  [경기 안산시]중앙대로(고잔동)     9  2019-05-31
3035  [경기 용인시]중부대로(구갈동)    11  2019-05-31
3036       [경기 부천시]소사본동    16  2019-05-31
3037        [경기 포천시]관인면    15  2019-05-31

[3038 rows x 3 columns]

In [147]:
pm25_6 = pm25_6.drop(index=[0,1], axis=0)
pm25_6 = pm25_6.rename(columns=pm25_6.iloc[0])
pm25_6 = pm25_6.drop(index=[2])
pm25_6 = pm25_6.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일'])
pm25_6['year'] = '2019'
pm25_6['month'] = '06'
pm25_6['variable'] = pm25_6['variable'].str.replace('일','')
pm25_6 = pm25_6.rename(columns = {'variable':'days'})
pm25_6['days'] = pm25_6['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_6['date'] = pm25_6['year'] + "-" + pm25_6['month'] + "-" + pm25_6['days']
pm25_6 = pm25_6.drop(['days', 'year', 'month'], axis=1)
pm25_6

                   측정소명 value        date
0           [경기 이천시]설성면    26  2019-06-01
1            [경기 파주시]파주    18  2019-06-01
2           [경기 포천시]관인면    21  2019-06-01
3            [경기 가평군]가평    14  2019-06-01
4           [경기 고양시]식사동    17  2019-06-01
...                 ...   ...         ...
2965  [경기 안산시]중앙대로(고잔동)    15  2019-06-30
2966   [경기 오산시]금암로(신장동)    28  2019-06-30
2967  [경기 용인시]중부대로(구갈동)    27  2019-06-30
2968       [경기 부천시]소사본동    26  2019-06-30
2969        [경기 포천시]관인면    20  2019-06-30

[2970 rows x 3 columns]

In [148]:
pm25_7 = pm25_7.drop(index=[0,1], axis=0)
pm25_7 = pm25_7.rename(columns=pm25_7.iloc[0])
pm25_7 = pm25_7.drop(index=[2])
pm25_7 = pm25_7.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm25_7['year'] = '2019'
pm25_7['month'] = '07'
pm25_7['variable'] = pm25_7['variable'].str.replace('일','')
pm25_7 = pm25_7.rename(columns = {'variable':'days'})
pm25_7['days'] = pm25_7['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_7['date'] = pm25_7['year'] + "-" + pm25_7['month'] + "-" + pm25_7['days']
pm25_7 = pm25_7.drop(['days', 'year', 'month'], axis=1)
pm25_7

                   측정소명 value        date
0           [경기 이천시]설성면    35  2019-07-01
1            [경기 파주시]파주    24  2019-07-01
2           [경기 포천시]관인면    22  2019-07-01
3            [경기 가평군]가평    26  2019-07-01
4           [경기 고양시]식사동    22  2019-07-01
...                 ...   ...         ...
3064  [경기 안산시]중앙대로(고잔동)     7  2019-07-31
3065   [경기 오산시]금암로(신장동)    13  2019-07-31
3066  [경기 용인시]중부대로(구갈동)    12  2019-07-31
3067       [경기 부천시]소사본동    15  2019-07-31
3068        [경기 포천시]관인면    13  2019-07-31

[3069 rows x 3 columns]

In [149]:
pm25_8 = pm25_8.drop(index=[0,1], axis=0)
pm25_8 = pm25_8.rename(columns=pm25_8.iloc[0])
pm25_8 = pm25_8.drop(index=[2])
pm25_8 = pm25_8.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm25_8['year'] = '2019'
pm25_8['month'] = '08'
pm25_8['variable'] = pm25_8['variable'].str.replace('일','')
pm25_8 = pm25_8.rename(columns = {'variable':'days'})
pm25_8['days'] = pm25_8['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_8['date'] = pm25_8['year'] + "-" + pm25_8['month'] + "-" + pm25_8['days']
pm25_8 = pm25_8.drop(['days', 'year', 'month'], axis=1)
pm25_8

                   측정소명 value        date
0           [경기 이천시]설성면    10  2019-08-01
1            [경기 파주시]파주     7  2019-08-01
2           [경기 포천시]관인면    13  2019-08-01
3            [경기 가평군]가평     2  2019-08-01
4           [경기 고양시]식사동     3  2019-08-01
...                 ...   ...         ...
3064  [경기 안산시]중앙대로(고잔동)     9  2019-08-31
3065   [경기 오산시]금암로(신장동)    13  2019-08-31
3066  [경기 용인시]중부대로(구갈동)    12  2019-08-31
3067       [경기 부천시]소사본동    18  2019-08-31
3068        [경기 포천시]관인면    12  2019-08-31

[3069 rows x 3 columns]

In [150]:
pm25_9 = pm25_9.drop(index=[0,1], axis=0)
pm25_9 = pm25_9.rename(columns=pm25_9.iloc[0])
pm25_9 = pm25_9.drop(index=[2])
pm25_9 = pm25_9.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일'])
pm25_9['year'] = '2019'
pm25_9['month'] = '09'
pm25_9['variable'] = pm25_9['variable'].str.replace('일','')
pm25_9 = pm25_9.rename(columns = {'variable':'days'})
pm25_9['days'] = pm25_9['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_9['date'] = pm25_9['year'] + "-" + pm25_9['month'] + "-" + pm25_9['days']
pm25_9 = pm25_9.drop(['days', 'year', 'month'], axis=1)
pm25_9

                   측정소명 value        date
0           [경기 이천시]설성면    17  2019-09-01
1            [경기 파주시]파주    14  2019-09-01
2           [경기 포천시]관인면    12  2019-09-01
3            [경기 가평군]가평     6  2019-09-01
4           [경기 고양시]식사동     9  2019-09-01
...                 ...   ...         ...
2965  [경기 안산시]중앙대로(고잔동)    33  2019-09-30
2966   [경기 오산시]금암로(신장동)    46  2019-09-30
2967  [경기 용인시]중부대로(구갈동)    39  2019-09-30
2968       [경기 부천시]소사본동    70  2019-09-30
2969        [경기 포천시]관인면    21  2019-09-30

[2970 rows x 3 columns]

In [151]:
pm25_10 = pm25_10.drop(index=[0,1], axis=0)
pm25_10 = pm25_10.rename(columns=pm25_10.iloc[0])
pm25_10 = pm25_10.drop(index=[2])
pm25_10 = pm25_10.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'])
pm25_10['year'] = '2019'
pm25_10['month'] = '10'
pm25_10['variable'] = pm25_10['variable'].str.replace('일','')
pm25_10 = pm25_10.rename(columns = {'variable':'days'})
pm25_10['days'] = pm25_10['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_10['date'] = pm25_10['year'] + "-" + pm25_10['month'] + "-" + pm25_10['days']
pm25_10 = pm25_10.drop(['days', 'year', 'month'], axis=1)
pm25_10

                   측정소명 value        date
0           [경기 이천시]설성면    48  2019-10-01
1            [경기 파주시]파주    36  2019-10-01
2           [경기 포천시]관인면    18  2019-10-01
3            [경기 가평군]가평    14  2019-10-01
4           [경기 고양시]식사동    37  2019-10-01
...                 ...   ...         ...
3064  [경기 안산시]중앙대로(고잔동)    19  2019-10-31
3065   [경기 오산시]금암로(신장동)    25  2019-10-31
3066  [경기 용인시]중부대로(구갈동)    22  2019-10-31
3067       [경기 부천시]소사본동    34  2019-10-31
3068        [경기 포천시]관인면    22  2019-10-31

[3069 rows x 3 columns]

In [152]:
pm25_11 = pm25_11.drop(index=[0,1], axis=0)
pm25_11 = pm25_11.rename(columns=pm25_11.iloc[0])
pm25_11 = pm25_11.drop(index=[2])
pm25_11 = pm25_11.melt(id_vars='측정소명', value_vars=['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일'])
pm25_11['year'] = '2019'
pm25_11['month'] = '11'
pm25_11['variable'] = pm25_11['variable'].str.replace('일','')
pm25_11 = pm25_11.rename(columns = {'variable':'days'})
pm25_11['days'] = pm25_11['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_11['date'] = pm25_11['year'] + "-" + pm25_11['month'] + "-" + pm25_11['days']
pm25_11 = pm25_11.drop(['days', 'year', 'month'], axis=1)
pm25_11

                   측정소명 value        date
0           [경기 이천시]설성면    45  2019-11-01
1            [경기 파주시]파주    20  2019-11-01
2           [경기 포천시]관인면    30  2019-11-01
3            [경기 가평군]가평    37  2019-11-01
4           [경기 고양시]식사동    25  2019-11-01
...                 ...   ...         ...
2965  [경기 안산시]중앙대로(고잔동)    34  2019-11-30
2966   [경기 오산시]금암로(신장동)    33  2019-11-30
2967  [경기 용인시]중부대로(구갈동)    27  2019-11-30
2968       [경기 부천시]소사본동    39  2019-11-30
2969        [경기 포천시]관인면    11  2019-11-30

[2970 rows x 3 columns]

In [153]:
pm25 = pd.concat([pm25_12,pm25_1,pm25_2,pm25_3,pm25_4,pm25_5,pm25_6,pm25_7,pm25_8,pm25_9,pm25_10,pm25_11], axis=0)
pm25

                   측정소명 value        date
0           [경기 이천시]설성면   NaN  2018-12-01
1            [경기 파주시]파주   NaN  2018-12-01
2           [경기 포천시]관인면   NaN  2018-12-01
3            [경기 가평군]가평    23  2018-12-01
4           [경기 고양시]식사동    21  2018-12-01
...                 ...   ...         ...
2965  [경기 안산시]중앙대로(고잔동)    34  2019-11-30
2966   [경기 오산시]금암로(신장동)    33  2019-11-30
2967  [경기 용인시]중부대로(구갈동)    27  2019-11-30
2968       [경기 부천시]소사본동    39  2019-11-30
2969        [경기 포천시]관인면    11  2019-11-30

[35317 rows x 3 columns]

In [157]:
pm25['측정소명'].unique()

array(['[경기 이천시]설성면', '[경기 파주시]파주', '[경기 포천시]관인면', '[경기 가평군]가평',
       '[경기 고양시]식사동', '[경기 고양시]신원동', '[경기 고양시]주엽동', '[경기 고양시]행신동',
       '[경기 과천시]과천동', '[경기 과천시]별양동', '[경기 광명시]소하동', '[경기 광명시]철산동',
       '[경기 광주시]경안동', '[경기 구리시]교문동', '[경기 구리시]동구동', '[경기 군포시]당동',
       '[경기 군포시]산본동', '[경기 김포시]고촌읍', '[경기 김포시]사우동', '[경기 김포시]월곶면',
       '[경기 남양주시]금곡동', '[경기 남양주시]별내동', '[경기 남양주시]오남읍', '[경기 남양주시]화도읍',
       '[경기 동두천시]보산동', '[경기 부천시]내동', '[경기 부천시]소사본동', '[경기 부천시]오정동',
       '[경기 부천시]중2동', '[경기 성남시]단대동', '[경기 성남시]복정동', '[경기 성남시]상대원동',
       '[경기 성남시]수내동', '[경기 성남시]운중동', '[경기 성남시]정자동', '[경기 수원시]고색동',
       '[경기 수원시]광교동', '[경기 수원시]신풍동', '[경기 수원시]영통동', '[경기 수원시]인계동',
       '[경기 수원시]천천동', '[경기 시흥시]대야동', '[경기 시흥시]시화산단', '[경기 시흥시]정왕동',
       '[경기 안산시]고잔동', '[경기 안산시]본오동', '[경기 안산시]부곡동1', '[경기 안산시]원곡동',
       '[경기 안산시]원시동', '[경기 안산시]호수동', '[경기 안성시]봉산동', '[경기 안양시]부림동',
       '[경기 안양시]안양2동', '[경기 안양시]안양8동', '[경기 안양시]호계동', '[경기 양주시]고읍',
       '[경기 양주시]백석읍', '[경기 양평군]용문면', '[경기 여주시]중앙동(경기)', '[경기 연천군]연천',
       '[경기 오산시]오산동', '[경기 용인시]기흥', '[경기 용인시]김량장동', '[경기 용인시]수지',
       '[경기 의왕시]고천동', '[경기 의왕시]부곡3동', '[경기 의정부시]의정부1동', '[경기 의정부시]의정부동',
       '[경기 이천시]창전동', '[경기 파주시]금촌동', '[경기 파주시]운정', '[경기 평택시]비전동',
       '[경기 평택시]송북동', '[경기 평택시]안중', '[경기 평택시]평택항', '[경기 포천시]선단동',
       '[경기 포천시]일동면', '[경기 하남시]신장동', '[경기 화성시]남양읍', '[경기 화성시]동탄',
       '[경기 화성시]우정읍', '[경기 화성시]청계동', '[경기 화성시]향남읍', '[경기 고양시]백마로(마두역)',
       '[경기 부천시]송내대로(중동)', '[경기 성남시]대왕판교로(백현동)', '[경기 성남시]성남대로(모란역)',
       '[경기 수원시]경수대로(동수원)', '[경기 안산시]중앙대로(고잔동)', '[경기 용인시]중부대로(구갈동)',
       '[경기 양평군]강하면', '[경기 이천시]장호원읍', '[경기 안산시]대부동', '[경기 수원시]호매실동',
       '[경기 용인시]모현읍', '[경기 용인시]백암면', '[경기 용인시]이동읍', '[경기 오산시]금암로(신장동)'],
      dtype=object)

In [155]:
pm10.to_csv('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm10.csv', index=False)

In [156]:
pm25.to_csv('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm25.csv', index=False)